benchmarks/gems/ruby/1.9.1/*
!benchmarks/gems/ruby/1.9.1/cache
benchmarks/vendor/*
benchmarks/gems/environment.rb
benchmarks/bin
pkg/*
dbtest.rb
benchmarks/adapters/pg_ext/*.*o
benchmarks/adapters/pg_ext/Makefile
.yardoc
doc/*
benchmarks/.bundle/*
benchmarks/gems/*
bin/
gems/
.bundle/
tmp/
*.gem
