ext/*
!ext/*.cc
!ext/*.h
!ext/*.rb
!ext/swift
ext/swift/*
!ext/swift/*.cc
!ext/swift/*.rb
benchmarks/gems/ruby/1.9.1/*
!benchmarks/gems/ruby/1.9.1/cache
benchmarks/gems/environment.rb
benchmarks/bin
pkg/*
memory/driver
memory/driver.o
